Flask==2.3.0
Flask-RESTful==0.3.10
stomp.py==8.1.0
requests==2.31.0
SQLAlchemy==1.4.15
psycopg2==2.9.9
Faker==24.7.1
Flask-Cors==3.0.10
marshmallow==3.18.0
marshmallow-sqlalchemy==0.25.0
Flask-SQLAlchemy==2.5.1
psycopg2==2.9.9